In [ ]:
# Start of Python Classes 
#
# Using this as a way to refresh my memory on Python, firstly for analytics skills, then for more complex Data Engineering focused tasks. 
#
# Importing Pandas, then printing a success message 
import pandas as pd
print ('Import success!')

In [19]:
bb_df = pd.DataFrame(columns=['player_id', 'player_name', 'team', 'pts', 'rbs', 'ast'])
bb_df['player_id'] = ['1234','5678','9012', '3456']
bb_df['player_name'] = ['Donovan Mitchell', 'Nikola Jokic', 'Steven Curry', 'Devin Booker']
bb_df['team'] = ['UTA', 'DEN', 'GSW', 'PHX']
bb_df['pts'] = ['31.2', '30', '28', '19']
bb_df['rbs'] = ['9', '7', '2', '1']
bb_df['ast'] = ['10', '15', '10', '9']

bb_df_si = bb_df.set_index('player_id')

bb_df_si

                player_name team   pts rbs ast
player_id
1234       Donovan Mitchell  UTA  31.2   9  10
5678           Nikola Jokic  DEN    30   7  15
9012           Steven Curry  GSW    28   2  10
3456           Devin Booker  PHX    19   1   9

In [20]:
print(bb_df_si)

                player_name team   pts rbs ast
player_id
1234       Donovan Mitchell  UTA  31.2   9  10
5678           Nikola Jokic  DEN    30   7  15
9012           Steven Curry  GSW    28   2  10
3456           Devin Booker  PHX    19   1   9